# append()

used : Adds an element to the end of the list.                                                           
input: give single value or collection

In [1]:
#Example:
l=[11,22,33,44,55,66,77,88,99]

In [2]:
l.append(30)
l

[11, 22, 33, 44, 55, 66, 77, 88, 99, 30]

In [3]:
l.append([15,25,35])
l

[11, 22, 33, 44, 55, 66, 77, 88, 99, 30, [15, 25, 35]]

# insert()
used : Inserts an element at a specified position.

input: Give index and value

In [4]:
l.insert(3,0)
l

[11, 22, 33, 0, 44, 55, 66, 77, 88, 99, 30, [15, 25, 35]]

In [5]:
l.insert(6,46)
l

[11, 22, 33, 0, 44, 55, 46, 66, 77, 88, 99, 30, [15, 25, 35]]

In [6]:
l.insert(1,[65,77])
l

[11, [65, 77], 22, 33, 0, 44, 55, 46, 66, 77, 88, 99, 30, [15, 25, 35]]

# extend()
used: Adds elements from another list to the end of the current list.

input :give list

In [10]:
l.extend([4,5,6])
l

[11,
 [65, 77],
 22,
 33,
 0,
 44,
 55,
 46,
 66,
 77,
 88,
 99,
 30,
 [15, 25, 35],
 4,
 5,
 6,
 4,
 5,
 6]

# pop(): 
used :Removes and returns the element at the specified position 
    (or the last element if no index is specified).
    
input : index

In [16]:
l1=[10,20,30,40,50]
l1.pop()

50

In [17]:
l1.pop()
l1

[10, 20, 30]

In [18]:
l1.pop(0)
l1

[20, 30]

# remove(): 

used: Removes the first occurrence of a specified element.

input: only one value at a time.

In [15]:
l2=[1,2,3,4,5,6,7,8,9]
l2.remove(5)
l2

[1, 2, 3, 4, 6, 7, 8, 9]

# clear():
used: Removes all elements from the list.
    
input:no argument(empty)

In [33]:
l2.clear()
l2

[]

# count(): 
 
used : Returns the number of times a specified element appears in the list.

input : value

In [36]:
l=[100,200,300,200,400,200,500,400,600]
l.count(400)

2

In [37]:
l.count(200)

3

# index():
used:Returns the index of the first occurrence of a specified element.
    
input : give the value

In [38]:
l.index(400)

4

In [39]:
l.index(100)

0

# reverse(): 
    
used:Reverses the order of the elements in the list.
    
input: list

In [43]:
l=[100,200,300,200,400,200,500,400,600]
l.reverse()
l

[600, 400, 500, 200, 400, 200, 300, 200, 100]

# sort():
used: Sorts the list in ascending order (by default).
    
input: list

In [47]:
l=[100,200,300,200,400,200,500,400,600]
l.sort()
l

[100, 200, 200, 200, 300, 400, 400, 500, 600]