# "Flight Fare Prediction ""

In [1]:
# Import libraries
import pandas as pd
import numpy as  np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Gathering dataset
df=pd.read_csv("C:\\Users\\asus\\Downloads\\airlines_flights_data.csv")

In [3]:
df.head()

,index,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [4]:
df.tail()

,index,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

In [5]:
df.shape

(300153, 12)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   index             300153 non-null  int64
 1   airline           300153 non-null  object
 2   flight            300153 non-null  object
 3   source_city       300153 non-null  object
 4   departure_time    300153 non-null  object
 5   stops             300153 non-null  object
 6   arrival_time      300153 non-null  object
 7   destination_city  300153 non-null  object
 8   class             300153 non-null  object
 9   duration          300153 non-null  float64
 10  days_left         300153 non-null  int64
 11  price             300153 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 27.5+ MB

In [7]:
df.describe()

               index       duration      days_left          price
count  300153.000000  300153.000000  300153.000000  300153.000000
mean   150076.000000      12.221021      26.004751   20889.660523
std     86646.852011       7.191997      13.561004   22697.767366
min         0.000000       0.830000       1.000000    1105.000000
25%     75038.000000       6.830000      15.000000    4783.000000
50%    150076.000000      11.250000      26.000000    7425.000000
75%    225114.000000      16.170000      38.000000   42521.000000
max    300152.000000      49.830000      49.000000  123071.000000

In [8]:
df.describe(include='object')

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class
count,300153,300153,300153,300153,300153,300153,300153,300153
unique,6,1561,6,6,3,6,6,2
top,Vistara,UK-706,Delhi,Morning,one,Night,Mumbai,Economy
freq,127859,3235,61343,71146,250863,91538,59097,206666

# Exploratory Data Analysis

In [9]:
#pip install numpy==1.23.5

In [10]:
pip install sweetviz

Requirement already satisfied: sweetviz in c:\users\asus\anaconda3\lib\site-packages (2.3.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in c:\users\asus\anaconda3\lib\site-packages (from sweetviz) (2.2.2)
Requirement already satisfied: numpy>=1.16.0 in c:\users\asus\anaconda3\lib\site-packages (from sweetviz) (1.26.4)
Requirement already satisfied: matplotlib>=3.1.3 in c:\users\asus\anaconda3\lib\site-packages (from sweetviz) (3.9.2)
Requirement already satisfied: tqdm>=4.43.0 in c:\users\asus\anaconda3\lib\site-packages (from sweetviz) (4.66.5)
Requirement already satisfied: scipy>=1.3.2 in c:\users\asus\anaconda3\lib\site-packages (from sweetviz) (1.13.1)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\asus\anaconda3\lib\site-packages (from sweetviz) (3.1.4)
Requirement already satisfied: importlib-resources>=1.2.0 in c:\users\asus\anaconda3\lib\site-packages (from sweetviz) (6.5.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\asus\anaconda3\lib\site-packages (from jinja2>=2.11.1->sweetviz) (2.1.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2023.3)
Requirement already satisfied: colorama in c:\users\asus\anaconda3\lib\site-packages (from tqdm>=4.43.0->sweetviz) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.1.3->sweetviz) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:

import sweetviz as sv
report = sv.analyze(df)
report.show_html("sweetviz_report.html")

                                             |                                             | [  0%]   00:00 ->…

Report sweetviz_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [12]:
 #pip install autoviz

In [13]:
from autoviz.AutoViz_Class import AutoViz_Class
AV = AutoViz_Class()
report2= AV.AutoViz(df)

Imported v0.1.905. Please call AutoViz in this sequence:
    AV = AutoViz_Class()
    %matplotlib inline
    dfte = AV.AutoViz(filename, sep=',', depVar='', dfte=None, header=0, verbose=1, lowess=False,
               chart_format='svg',max_rows_analyzed=150000,max_cols_analyzed=30, save_plot_dir=None)
    Since nrows is smaller than dataset, loading random sample of 150000 rows into pandas...
Shape of your Data Set loaded: (150000, 12)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
    Number of Numeric Columns =  1
    Number of Integer-Categorical Columns =  2
    Number of String-Categorical Columns =  6
    Number of Factor-Categorical Columns =  0
    Number of String-Boolean Columns =  1
    Number of Numeric-Boolean Columns =  0
    Number of Discrete String Columns =  0
    Number of NLP String Columns =  1
    Number of Date Time Columns =  0
    Number of ID Columns =  1
    Number of Columns to Delete =  0
    12 Predictors classified...
        1 variable(s) removed since they were ID or low-information variables
        List of variables removed: ['index']
Since Number of Rows in data 150000 exceeds maximum, randomly sampling 150000 rows for EDA...
To fix these data quality issues in the dataset, import FixDQ from autoviz...
    All variables classified into correct types.

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to
[nltk_data]    |     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package gazetteers to
[nltk_data]    |     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]    |   Package gazetteers is already up-to-date!
[nltk_data]    | Downloading package genesis to
[nltk_data]    |     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to
[nltk_data]    |     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package inaugural to
[nltk_data]    |     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package names to
[nltk_data]    |     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package shakespeare to
[nltk_data]    |     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]    |   Package shakespeare is already up-to-date!
[nltk_data]    | Downloading package stopwords to
[nltk_data]    |     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package treebank to
[nltk_data]    |     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]    |   Package twitter_samples is already up-to-date!
[nltk_data]    | Downloading package omw to
[nltk_data]    |     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]    |   Package omw is already up-to-date!
[nltk_data]    | Downloading package omw-1.4 to
[nltk_data]    |     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]    |   Package omw-1.4 is already up-to-date!
[nltk_data]    | Downloading package wordnet to
[nltk_data]    |     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet2021 to
[nltk_data]    |     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet2021 is already up-to-date!
[nltk_data]    | Downloading package wordnet31 to
[nltk_data]    |     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet31 is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to
[nltk_data]    |     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to
[nltk_data]    |     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package punkt to
[nltk_data]    |     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]    |   Package snowball_data is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection popular

Could not draw wordcloud plot for flight.
Looks like you are missing some required data for this feature.

To download the necessary data, simply run

    python -m textblob.download_corpora

or use the NLTK downloader to download the missing data: http://nltk.org/data.html
If this doesn't fix the problem, file an issue at https://github.com/sloria/TextBlob/issues.

All Plots done
Time to run AutoViz = 11 seconds

 ###################### AUTO VISUALIZATION Completed ########################

# Data Preprocessing

In [14]:
# remove unwanted columns and rows with missing values
df.drop("index",axis=1,inplace =True)

In [15]:
# check null values
df.isnull().sum()

airline             0
flight              0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
price               0
dtype: int64

In [16]:
# Check duplicates
df.duplicated().sum()

0

In [17]:
col = df.columns
for i in col:
    print(f"Unique values in column '{i}':")
    print(df[i].unique())
    print("-" * 40)

Unique values in column 'airline':
['SpiceJet' 'AirAsia' 'Vistara' 'GO_FIRST' 'Indigo' 'Air_India']
----------------------------------------
Unique values in column 'flight':
['SG-8709' 'SG-8157' 'I5-764' ... '6E-7127' '6E-7259' 'AI-433']
----------------------------------------
Unique values in column 'source_city':
['Delhi' 'Mumbai' 'Bangalore' 'Kolkata' 'Hyderabad' 'Chennai']
----------------------------------------
Unique values in column 'departure_time':
['Evening' 'Early_Morning' 'Morning' 'Afternoon' 'Night' 'Late_Night']
----------------------------------------
Unique values in column 'stops':
['zero' 'one' 'two_or_more']
----------------------------------------
Unique values in column 'arrival_time':
['Night' 'Morning' 'Early_Morning' 'Afternoon' 'Evening' 'Late_Night']
----------------------------------------
Unique values in column 'destination_city':
['Mumbai' 'Bangalore' 'Kolkata' 'Hyderabad' 'Chennai' 'Delhi']
----------------------------------------
Unique values in column 'class':
['Economy' 'Business']
----------------------------------------
Unique values in column 'duration':
[ 2.17  2.33  2.25  2.08 12.25 16.33 11.75 14.5  15.67  3.75  2.5   5.83
  8.    6.   14.67 16.17 18.   23.17 24.17  8.83  4.5  15.25 11.   19.08
 22.83 26.42 17.75 19.58 26.67 15.17 20.83 11.42 22.25 26.   21.75  3.83
  4.42  7.67  8.33 10.42 23.75 19.5   6.5  12.42 21.08 28.17 28.25  9.25
 17.92  7.08 13.83  7.58 15.83 24.42  4.17  4.25  5.08 29.33 17.   27.17
 24.75  5.75 12.75 13.75 17.83  5.5  23.83  5.   26.5  12.83  8.92 11.17
 12.17 15.58 15.75  7.92 13.25 16.   22.75  6.33  7.25 30.08 18.25  6.08
  2.   12.33  3.5  10.25 14.17 25.58  4.08  9.75  6.67  9.67 10.08 12.58
  7.    8.25 15.5  10.17 23.5  25.75 11.5  21.42 14.25  7.75  5.33  5.67
  4.75 19.33  6.25 10.33  9.08 15.42  4.83 25.83  7.5  27.58 28.42  6.42
 24.58 16.5  11.33 24.83 14.92 26.08  5.42 28.5  27.33  8.67 20.42 20.08
  5.92 20.58 26.17 17.5  18.33 21.83 26.83 13.42 19.25 23.58 23.92 12.08
 14.42 25.92 18.58 13.08  4.58 21.58 10.5  11.67  8.58 24.67 14.75 17.17
  7.33  9.17 11.58 23.08 25.25 21.25  8.42 10.92 14.    4.92 25.08 12.67
 28.08 21.33 14.33 14.83 15.33 15.92  9.5  27.75 24.92 22.58  6.58  9.33
 13.   13.58 11.08  5.58 15.    6.75  9.83 11.25 11.83  9.58  8.5  14.08
 10.58 22.17 22.08  8.75 15.08 25.5  16.42 18.92  2.42  3.92 24.5  23.
 10.   19.   16.58  7.83  3.17 16.25 24.08  4.67  6.92 13.67 25.    8.08
 17.08  7.42 22.5  12.92  6.17 23.67  5.17 13.33 17.25 25.42 29.17  9.
  9.42  8.17 26.58 22.33 12.5  21.   24.25 27.5  18.17 16.67  2.83  2.75
  2.92  3.    7.17 25.67  2.67 10.83 18.5  21.17 23.33 24.   17.33 27.42
 26.25  4.33  9.92 19.67 26.33 16.92 25.33 27.25 27.92 27.   12.   10.67
 28.   21.67 21.92 13.92 13.5   2.58 22.42 24.33 18.08 29.58 29.67 31.25
 33.17 36.92 20.25 22.92  6.83  5.25 20.67 17.58 19.17 17.42 11.92 31.5
 19.83 27.08 26.92 21.5   6.07 16.83 20.5  18.67 10.75 18.42 28.58 19.92
 20.   22.   29.83 19.42 25.17  3.08 18.75 27.83 20.17 20.33 20.75 28.67
 35.83 34.83 23.25 26.75 19.75 27.67 16.08 30.25 28.75 30.58 18.83 13.17
 30.5  29.5  28.83 30.67 17.67 14.58 29.   28.33 39.67 16.75  1.92 37.42
 36.42 23.42 22.67 33.75 30.83 28.92  1.83  3.67  4.    1.58  1.67  1.75
 20.92 33.5  30.33 35.25 31.83 40.   31.67 32.08 36.17 30.75 33.83 34.5
 31.08 30.17 36.08 33.33 37.   34.08 37.08  1.42  1.33  1.5  37.83 29.25
 34.25 36.83  3.42 31.58 33.58 34.58 32.17  1.17 35.17 37.67 37.25 39.75
 31.   37.75 33.25 31.17 29.92 31.92 41.58 37.17 32.   35.5  39.   31.42
 34.33 38.58 33.67  3.33  3.58 34.17 37.33 35.42 30.   33.08 38.83 32.67
 29.42 35.08 32.5  29.75  1.08  1.   32.42  1.25 34.92 35.75 31.75 33.
 34.75 36.58 41.83 36.5  33.42 36.25 40.67  0.92 37.58  0.83 40.75 47.75
 36.   40.42 33.92 30.42 40.5  29.08 38.5  34.67  6.98 30.92 35.58  3.25
 39.83 37.92 37.5  39.08 38.75 34.42 40.92 13.4  31.33 42.   32.75 32.33
 32.83 35.92 32.25 38.67 38.33 39.25 41.08 32.92 36.75 35.67 35.33 49.83
 34.   47.08 45.83 39.42 39.92 32.58 44.5  41.5 ]
----------------------------------------
Unique values in column 'days_left':
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49]
----------------------------------------
Unique values in column 'price':
[ 5953  5956  5955 ... 87051 74731 77105]
----------------------------------------

In [18]:
# converting categorical data into numerical
# Mannual Encoding
df["departure_time"] = df["departure_time"].map({'Evening': 3,'Early_Morning': 0,'Morning': 1,'Afternoon': 2,'Night': 4,'Late_Night': 5})
df["stops"] = df["stops"].map({'zero':0, 'one':1, 'two_or_more':2})
df["arrival_time"] = df["arrival_time"].map({'Night':4,'Morning':1, 'Early_Morning':0, 'Afternoon':2,'Evening':3 ,'Late_Night':5})
df["class"] = df["class"].map({'Economy' :0,'Business':1})

In [19]:
#LabelEncoding
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
for col in ['airline', 'flight', 'source_city', 'destination_city']:
    df[col] = label_encoder.fit_transform(df[col])

In [20]:
df

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,4,1408,2,3,0,4,5,0,2.17,1,5953
1,4,1387,2,0,0,1,5,0,2.33,1,5953
2,0,1213,2,0,0,0,5,0,2.17,1,5956
3,5,1559,2,1,0,2,5,0,2.25,1,5955
4,5,1549,2,1,0,1,5,0,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...
300148,5,1477,1,1,1,3,3,1,10.08,49,69265
300149,5,1481,1,2,1,4,3,1,10.42,49,77105
300150,5,1486,1,0,1,4,3,1,13.83,49,79099
300151,5,1483,1,0,1,3,3,1,10.00,49,81585
300152,5,1477,1,1,1,3,3,1,10.08,49,81585

In [21]:
from scipy.stats import zscore
# Apply zscore to the whole DataFrame
df_z = df.apply(zscore)

# Add z-scores as new columns (with suffix)
df_z.columns = [f"{col}_z" for col in df_z.columns]

df_z.head()

,airline_z,flight_z,source_city_z,departure_time_z,stops_z,arrival_time_z,destination_city_z,class_z,duration_z,days_left_z,price_z
0,0.488270,0.749165,-0.329721,0.799464,-2.321779,0.962613,1.382425,-0.672576,-1.397531,-1.843875,-0.658068
1,0.488270,0.699949,-0.329721,-1.318909,-2.321779,-1.257243,1.382425,-0.672576,-1.375284,-1.843875,-0.658068
2,-1.693633,0.292159,-0.329721,-1.318909,-2.321779,-1.997195,1.382425,-0.672576,-1.397531,-1.843875,-0.657936
3,1.033746,1.103051,-0.329721,-0.612785,-2.321779,-0.517291,1.382425,-0.672576,-1.386407,-1.843875,-0.657980
4,1.033746,1.079615,-0.329721,-0.612785,-2.321779,-1.257243,1.382425,-0.672576,-1.375284,-1.843875,-0.657980

In [22]:
threshold = 3
outliers = df[(df_z.abs() > threshold).any(axis=1)]

In [23]:
plt.figure(figsize=(14,7))
sns.boxplot(data=df_z)
plt.show()

In [24]:
# Handling outliers
col = ['duration_z','price_z']

for i in col:
    lower_threshold = df_z[i].quantile(0.05)
    upper_threshold = df_z[i].quantile(0.95)

    # Cap lower outliers
    df_z.loc[df_z[i] < lower_threshold, i] = lower_threshold

    # Cap upper outliers
    df_z.loc[df_z[i] > upper_threshold, i] = upper_threshold

In [25]:
for i in col:
    print(f"{i} - Min: {df_z[i].min():.2f}, Max: {df_z[i].max():.2f}")

duration_z - Min: -1.40, Max: 1.90
price_z - Min: -0.81, Max: 1.87

In [26]:
plt.figure(figsize=(14,7))
sns.boxplot(data=df_z)
plt.show()

# Features Engineering

In [27]:
#Split data into input feature and target variable
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
x=df_z.drop("price_z",axis=1)
y=df_z["price_z"]

In [28]:
# Scale the features
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_scale = sc.fit_transform(x)

In [29]:
from sklearn.feature_selection import SelectKBest, f_regression

# Feature selection on the cleaned data
selector = SelectKBest(score_func=f_regression, k=5)
X_new = selector.fit_transform(x_scale, y)

# Get selected feature names
selected_features = selector.get_support(indices=True)
# Adjust indices to match the original columns of X_cleaned
selected_feature_names = x.columns[selected_features]

print("Selected features:", selected_feature_names.tolist())

Selected features: ['airline_z', 'flight_z', 'stops_z', 'class_z', 'duration_z']

In [30]:
import matplotlib.pyplot as plt
scores = selector.scores_
plt.figure(figsize=(10,6))
plt.barh(x.columns, scores)
plt.title("Feature Importance via f_regression")
plt.xlabel("Score")
plt.show()

# Model creation

In [31]:
x_sel = df_z[['airline_z', 'flight_z', 'stops_z', 'class_z', 'duration_z']]
y = df_z['price_z']

In [32]:
# Train_test_split
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_sel,y)

# **Linear Regression**

In [33]:
from sklearn.linear_model import LinearRegression
LR = LinearRegression()
model1=LR.fit(x_train, y_train)

In [34]:
pred=model1.predict(x_test)

In [35]:
# Model Evaluatuion on Testing data
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

mae = mean_absolute_error(y_test, pred)
mse = mean_squared_error(y_test, pred)
rmse = mse ** 0.5
r2 = r2_score(y_test, pred)

print(f"MAE: {mae:.2f}")
print(f"MSE: {mse:.2f}")
print(f"RMSE: {rmse:.2f}")
print(f"R² Score: {r2:.2f}")

MAE: 0.19
MSE: 0.07
RMSE: 0.27
R² Score: 0.92

In [36]:
# Model Evaluatuion on Training data
model1.score(x_train,y_train)

0.9209742060055303

# **XGBOOST Regressor**

In [37]:
#pip install xgboost --upgrade

In [38]:
# pip install scikit-learn==1.5.2

In [39]:
from xgboost import XGBRegressor

model2 = XGBRegressor(n_estimators=20, learning_rate=0.1, max_depth=5, random_state=42)
model2.fit(x_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.1, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=5, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=20, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=42,
             reg_alpha=0, reg_lambda=1, ...)

In [40]:
y_predXG = model2.predict(x_test)

In [41]:
# Model Evaluatuion on Training data
model2.score(x_train,y_train)

0.9397603202817782

In [42]:
# Model Evaluatuion on Testing data
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

mae = mean_absolute_error(y_test,y_predXG )
mse = mean_squared_error(y_test, y_predXG)
rmse = mse ** 0.5
r2 = r2_score(y_test, y_predXG)

print(f"MAE: {mae:.2f}")
print(f"MSE: {mse:.2f}")
print(f"RMSE: {rmse:.2f}")
print(f"R² Score: {r2:.2f}")

MAE: 0.20
MSE: 0.06
RMSE: 0.24
R² Score: 0.94

In [43]:
sns.distplot(y_test-y_predXG)
plt.show()

In [44]:
plt.scatter(y_test,y_predXG, alpha=0.5)
plt.xlabel("y_test")
plt.ylabel("y_predXG")
plt.show()

# **Random Forest Regressor**

In [45]:
from sklearn.ensemble import RandomForestRegressor
reg_rf = RandomForestRegressor()
model3=reg_rf.fit(x_train, y_train)

In [46]:
y_pred = model3.predict(x_test)

In [48]:
# Model Evaluatuion on Training data
model3.score(x_train,y_train)

0.9846680213638964

In [49]:
# Model Evaluatuion on Testing data
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

mae = mean_absolute_error(y_test,y_pred )
mse = mean_squared_error(y_test, y_pred)
rmse = mse ** 0.5
r2 = r2_score(y_test, y_pred)

print(f"MAE: {mae:.2f}")
print(f"MSE: {mse:.2f}")
print(f"RMSE: {rmse:.2f}")
print(f"R² Score: {r2:.2f}")

MAE: 0.08
MSE: 0.02
RMSE: 0.13
R² Score: 0.98

"Among the evaluated models, the Random Forest Regressor demonstrated the highest predictive accuracy at 98%, significantly outperforming both Linear Regression (92%) and XGBoost Regressor (94%). This suggests that the ensemble-based Random Forest model is better suited to capturing complex, nonlinear relationships in the data,

In [50]:
sns.distplot(y_test-y_pred)
plt.show()

In [51]:
plt.scatter(y_test,y_pred, alpha=0.5)
plt.xlabel("y_test")
plt.ylabel("y_pred")
plt.show()

"The scatter plot comparing actual values (y_test) with predicted values (y_predXg) from the XGBoost regressor reveals a generally strong alignment along the diagonal, indicating that the model captures the underlying relationship effectively.

# pickle file

In [55]:
import pickle

# Example: pickling a DataFrame or model
with open('flight_fare.pkl', 'wb') as f:
    pickle.dump(model3, f)  # or pickle.dump(model, f)

In [56]:
with open('flight_fare.pkl', 'rb') as f:
    loaded_obj = pickle.load(f)

In [59]:
import json

columns = { 'df_zcolumns' : [col.lower() for col in x.columns] }

with open("columns.json", "w") as f:
    json.dump(columns, f, indent=4)