In [ ]:
#Python function that prints a text
def p_text(text):
    return(text)

In [10]:
p_text('hello')

'hello'

In [3]:
#Python function that accepts two numbers as arguments and returns the sum
def sum(a,b):
    c=a+b
    print(c)
    return

In [4]:
sum(5,6)

11

In [17]:
#Python function that accepts different values as parameters and returns a list
def List(*a):
    c=[*a]
    print(c)
    return

In [18]:
List(40,5,6,23,1,4)

[40, 5, 6, 23, 1, 4]

In [31]:
#Python function that returns a dictionary
def dict(k,v):
    d={k:v}
    print(d)

In [32]:
dict(1,'sai')

{1: 'sai'}

In [38]:
#Python function that returns a tuple
def values(*a):
    tuple=(a)
    return(tuple)

In [39]:
values(10,45,2)

(10, 45, 2)

In [1]:
#Python function that accepts a list as a parameter
def sum_list (list):
    l=sum(list)
    return (l)

In [6]:
sum_list([5,4,6,5])

20

In [26]:
#Python function that accepts a dictionary as a parameter
def dictionary(info):
    for key, value in info.items():
       return(key,value)

In [27]:
dictionary({1:"sai",2:"raj"})

(1, 'sai')

In [35]:
#Python function using positional arguments  
def greet(Name,age):
    return(f"hello {Name} good morning,your {age} years old")

In [36]:
greet("ruhi",25)

'hello ruhi good morning,your 25 years old'

In [41]:
#Python function using keyword arguments
def profit(cost,sell=0,items=0):
    p=(sell-cost)*items
    return(p)

In [42]:
profit(cost=100,sell=150,items=5)

250

In [1]:
#Python function using default arguments
def total_amount(amount,discount=0.5):
    t=amount+(amount*discount)
    return(t)

In [2]:
total_amount(100)

150.0

In [66]:
#Passing an arbitrary number of arguments to a Python function
def power(*args):
    p = [x**2 for x in args]
    return p

In [67]:
power(2, 3, 4)

[4, 9, 16]

In [80]:
#Python function to find the factorial of a number
def fact(n):
    result=1
    for i in range(1,n+1):
       result*=i
    return result

In [82]:
fact(4)

24

In [20]:
#Python function that returns multiple values
def arth_operation(a,b):
    add=a+b 
    sub=a-b
    mul=a*b
    div=a/b
    return(add,sub,mul,div)

In [21]:
p=arth_operation(5,6)
print(p)

(11, -1, 30, 0.8333333333333334)