# Datamites :2-june-25

In [ ]:
Name='shree'

In [7]:
else=45

SyntaxError: invalid syntax (1602262960.py, line 1)

In [8]:
@per=80

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2277105089.py, line 1)

In [9]:
sum=45

In [10]:
type(sum)

int

In [11]:
import keyword

In [12]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [14]:
len(keyword.kwlist)

35

In [15]:
a=3
b=4
c=a+b
c

7

In [21]:
type(a)
type(b)
type(c)

str

In [24]:
a=int(input( "Enter the No.:   "))
b=int(input( "Enter the No.:   "))
c=a+b
print(c)

Enter the No.:   2
Enter the No.:   3
5

In [25]:
type(a)
type(b)
type(c)

int

In [31]:
a=float(input( "Enter the No.:   "))
b=int(input( "Enter the No.:   "))
c=a-b
print(c)

Enter the No.:   5
Enter the No.:   3
2.0

In [26]:
a=float(input( "Enter the No.:   "))
b=int(input( "Enter the No.:   "))
c=a*b
print(c)

Enter the No.:   2.3
Enter the No.:   4
9.2

In [ ]:
a=float(input( "Enter the No.:   "))
b=int(input( "Enter the No.:   "))
c=a*b
print(c)

# Area Of Circle

In [30]:
r=int(input("Enter the radius : "))
pie=3.14
area=pie*r**2
area

Enter the radius : 5

78.5

# Area Of Triangle

In [34]:
Height=int(input("Enter the Height" ))
Base=int(input("Enter the Base"))
Area=0.5*Height*Base
Area

Enter the Height3
Enter the Base2

3.0

# Area Of Rectangle

In [36]:
lenght=int(input("Enter the lenght" ))
breath=int(input("Enter the breath"))
area=lenght*breath
area

Enter the lenght3
Enter the breath2

6

# Area Of Square

In [37]:
side=int(input("Enter the value of side of Square " ))
area=side**2
area

Enter the value of side of Square 5

25

# conditional statement

1)if statement
Syntax : 
if(condition/Expression):
----Bussiness logic
----Bussiness logic
----Bussiness logic
print("hello")

2)if else statement
Syntax : 
if(condition/Expression):
----Bussiness logic
----Bussiness logic
----Bussiness logic
else:
print("hello")

3)Syntax : 
if(condition/Expression):
----Bussiness logic
----Bussiness logic
----Bussiness logic
elif:(condition/Expression):
----Bussiness logic
----Bussiness logic
----Bussiness logic
elif:(condition/Expression):
----Bussiness logic
----Bussiness logic
----Bussiness logic
else:
print("hello")

In [38]:
a=20
b=10
if a>b:
    print('a is greater')

a is greater

In [41]:
a=int(input("enter the no :"))
if a%2==0:
            print('a is even')
else:
            print('a is odd')

enter the no :4
a is even

In [43]:
a=int(input("enter the no :"))
if a>0:
            print('a is positive')
elif a<0:
            print('a is negative')
else:
            print("Its zero")

enter the no :0
Its zero

In [ ]:
#Batch Name: 26-May-25-CDS/AEN/CDS-WDM1130-PUN
#Event: 02 -Jun-25-PYF-WDM1130-PUN

In [3]:
marks=int(input("Enter the marks: "))
if marks>=35:
    print("passed")
    print("Congratulations !!")
else:
    print("failed")
print(" Better luck next time !!")

Enter the marks: 22
failed
 Better luck next time

In [7]:
marks=int(input("Enter the marks: "))
if marks>=75:
    print("pass with distinction")
    print("Congratulations !!")
elif marks>=70:
    print("pass in First class")
    print("Congratulations !!")
elif marks>=60:
    print("pass in second class")
    print("Congratulations !!")
elif marks<35:
    print("failed")
    print(" Better luck next time !!")

Enter the marks: 90
pass with distinction
Congratulations !!

# 3-JUNE-2025

# For looping
1)while
2) for

In [8]:
i=1
while i<=10:
    print("hello")
    i=i+1
print("complete")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
complete

In [2]:
i=1
while i<=10:
    print(i)
    i=i+1
print("complete")

1
2
3
4
5
6
7
8
9
10
complete

In [9]:
No=int(input("Enter the no" ))
i=1
while (i<=10):
    print(i*No)
    i=i+1

Enter the no2
2
4
6
8
10
12
14
16
18
20

In [2]:
no=int(input("Enter the no" ))
i=1
fact=1
while(i<=no):
    fact=fact*i
    i=i+1
print(fact)

Enter the no4
24

In [5]:
m=int(input("Enter the no" ))
n=int(input("Enter the no" ))
i=1
power=1
while(i<=n):
    power=power*m
    i=i+1
print(power)

Enter the no5
Enter the no5
3125

#quetions#
1)take input from user 123outputis sum of that no like (1+2+3)print the sum of digit of given number.

2)print reverse the given number

3)check the palindrome number

4)check the given number is magic/armstrong (check only for 3 digit)

In [2]:
# sum of the digit of given number
no=int(input("enter the no : "))
sum=0
while(no>0):
        digit=no % 10
        sum=sum+digit
        no=no//10
print(sum)

enter the no : 345
12

In [1]:
no=int(input("Enter the no "))
sum=0
while True:
    digit=no % 10
    sum=sum+digit
    no=no//10
    if no==0:
        break
print(sum)

Enter the no 234
9

In [28]:
# print the given number in reverse order
no=567
i=0
while(no>0):
    digit=no %10
    i=digit
    no=no//10
    print(i)

7
6
5

In [2]:
#check the given no is palindrome
no=121
i=1
while(no>0):
    digit=no%10
    i=digit
    print(i)
    no=no//10

1
2
1

# for loop

In [17]:
range(1,20,1)
range(1,20)
range(20)
range(20,1,-1)

range(0, 20)

In [21]:
list(range(1,20,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [22]:
list(range(1,20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [23]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [24]:
list(range(20,1,-1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [25]:
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [27]:
num=int(input("enter the no: "))
for i in range(1,11,1):
    print(i*num)
    i=i+1

enter the no: 2
2
4
6
8
10
12
14
16
18
20

In [7]:
for i in range(11,21):
    for j in range(1,11,1):
        print(i*j,end="  ")
    print()

11  22  33  44  55  66  77  88  99  110
12  24  36  48  60  72  84  96  108  120
13  26  39  52  65  78  91  104  117  130
14  28  42  56  70  84  98  112  126  140
15  30  45  60  75  90  105  120  135  150
16  32  48  64  80  96  112  128  144  160
17  34  51  68  85  102  119  136  153  170
18  36  54  72  90  108  126  144  162  180
19  38  57  76  95  114  133  152  171  190
20  40  60  80  100  120  140  160  180  200

4-JUN-25

In [13]:
j="*"
for i in range(1,5):
    print(i*j)
    #print("*"*i)
    i=i+1

*
**
***
****

In [26]:
for i in range(1,5):
    if i%2==0:
        print(i*"&")
    else:
            print(i*"#")

#
&&
###
&&&&

In [39]:
for i in range (1,5):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [9]:
for i in range (1,5):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4

In [6]:
k=1
for i in range(1,5):
    for j in range(1,i+1):
        print(k,end=" ")
        k+=1
    print()

1
2 3
4 5 6
7 8 9 10

Array: stored same type of variables.(operation perform using "numpy"" library)
datatypes: 1)list 2)tuple 3)set 4)Dicttionary 5)Array 6)strinug 7) series 8) Dataframe 
.  for series and dataframe use ("pandas")

# 1) LIST

In [2]:
L=[10,20,30,40,50,60,70,80,90]

In [3]:
L[0]

10

In [4]:
L[5]

60

In [5]:
L[-1]

90

In [6]:
L[4]=100
print(L)

[10, 20, 30, 40, 100, 60, 70, 80, 90]

In [7]:
L[0:5:1]

[10, 20, 30, 40, 100]

In [8]:
type(L)

list

In [9]:
L[0:8:3]

[10, 40, 70]

In [10]:
L[:]

[10, 20, 30, 40, 100, 60, 70, 80, 90]

In [11]:
L[::]

[10, 20, 30, 40, 100, 60, 70, 80, 90]

In [12]:
L[::-1]

[90, 80, 70, 60, 100, 40, 30, 20, 10]

In [13]:
len(L)

9

In [14]:
L

[10, 20, 30, 40, 100, 60, 70, 80, 90]

In [15]:
l1=[10,20,30,40,50,60,70,80,90,100]

In [16]:
l1[::-1]

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [17]:
len(l1)

10

In [18]:
l1[4:9:1]

[50, 60, 70, 80, 90]

In [19]:
print(type(l1))

<class 'list'>

In [20]:
l1.append(20)
l1

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 20]

In [21]:
l1.append(500)
l1

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 20, 500]

In [27]:
l1.append(2,3)  #only give single elemrnt in append method

TypeError: list.append() takes exactly one argument (2 given)

In [24]:
l1.append([200,303,400,])
l1

[100, 10, 20, 30, 20, 40, 50, 60, 70, 80, 90, 100, 20, 500, [200, 303, 400]]

In [26]:
l1[-1]

[200, 303, 400]

In [30]:
l1.apend[30]  #apend not involve in this class

AttributeError: 'list' object has no attribute 'apend'

In [22]:
l1.insert(3,20)
l1

[10, 20, 30, 20, 40, 50, 60, 70, 80, 90, 100, 20, 500]

In [23]:
l1.insert(0,100)
l1

[100, 10, 20, 30, 20, 40, 50, 60, 70, 80, 90, 100, 20, 500]

In [31]:
l1.insert(0,[7,77,777])
l1

[[7, 77, 777],
 100,
 10,
 20,
 30,
 20,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 20,
 500,
 [200, 303, 400],
 9,
 99,
 999,
 9999]

In [32]:
l1.extend([9,99,999,9999])
l1

[[7, 77, 777],
 100,
 10,
 20,
 30,
 20,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 20,
 500,
 [200, 303, 400],
 9,
 99,
 999,
 9999,
 9,
 99,
 999,
 9999]

In [36]:
l1.extend(40) # extend has collection of object like [10,40,60]
l1

TypeError: 'int' object is not iterable

In [37]:
l2=[8,88,888,8888]
l2

[8, 88, 888, 8888]

In [38]:
l=l1+l2
l1

[[7, 77, 777],
 100,
 10,
 20,
 30,
 20,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 20,
 500,
 [200, 303, 400],
 9,
 99,
 999,
 9999,
 9,
 99,
 999,
 9999]

In [16]:
l=[10,20,30,40,50,60,70,80,90,100]

In [13]:
squarelist=l*2
l

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [17]:
l**2

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [20]:
squarelist=[]
for i in l:
    squarelist.append(i**2)
squarelist

[100, 400, 900, 1600, 2500, 3600, 4900, 6400, 8100, 10000]

In [26]:
l.pop() #used to delete last element

90

In [27]:
l.pop()
l

[10, 20, 30, 40, 50, 60, 70]

In [28]:
l.pop(3) # remove element using index

40

In [30]:
l

[10, 20, 30, 50, 60, 70]

In [31]:
l.remove(50) # used to remove specific element 
l

[10, 20, 30, 60, 70]

In [32]:
del l[2] #is keyword used for do memory free

In [33]:
l

[10, 20, 60, 70]

In [34]:
60 in l

True

In [35]:
40 in l

False

In [36]:
del l

In [37]:
l

NameError: name 'l' is not defined

assigenment:
    create a separate notebook which contain all list methods with example.
que-what is difference between append,insert,extend or pop, remove,delete.

# Tuple
 is a collection of homogeneous &hetrogeneous
 are values is inclose by() and separated by,
( , )
access by index (positive,negative)
slicing base on the index
tuple is a class collection

In [38]:
t=(10,20,30,40,50)

In [41]:
type(t)

tuple

In [40]:
print(type(t))

<class 'tuple'>

In [39]:
del t[2]

TypeError: 'tuple' object doesn't support item deletion

In [42]:
t[4]="apple" #does not change(immutable)

TypeError: 'tuple' object does not support item assignment

* differece bet list and tuple
tuple :
1)does not support del and assign opperator

In [43]:
len(t)

5

In [44]:
t[2]

30

In [46]:
t[3:5:1]

(40, 50)

In [47]:
t1=(10,10,10,10,20,30,40)

In [48]:
t1

(10, 10, 10, 10, 20, 30, 40)

In [49]:
t1.count(10)

4

In [51]:
t1.index(10)

0

In [55]:
t1.index(20)

4

In [52]:
20 in t1

True

In [54]:
60 not in t1

True

In [56]:
sorted(t1)  #this is function (if we apply fun not change in original data)

[10, 10, 10, 10, 20, 30, 40]

In [57]:
sorted(t1,reverse=True)

[40, 30, 20, 10, 10, 10, 10]

# 3)Set

In [62]:
s={1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [70]:
print(type(s))

<class 'set'>

In [63]:
len(s)

5

In [67]:
s1={500,400,600,100}
s1

{100, 400, 500, 600}

In [68]:
s2={}
type(s2)

dict

In [71]:
s[2]

TypeError: 'set' object is not subscriptable

In [72]:
s={1,4.5,"a",90}
s

{1, 4.5, 90, 'a'}

# 9-JUNE-25

In [1]:
A={1,2,3,4,5}

In [2]:
B={4,5,6,7,8}

In [5]:
c=A.intersection(B)
c

{4, 5}

In [6]:
d=A.union(B)
d

{1, 2, 3, 4, 5, 6, 7, 8}

In [8]:
e=A.difference(B) #written elements of set A set removing elements that included in set b 
e

{1, 2, 3}

In [9]:
f=B.difference(A) #written elements of set B set removing elements that included in set A
f

{6, 7, 8}

In [11]:
g=e.union(f)
g

{1, 2, 3, 6, 7, 8}

# Dictionary:

# Dictionary:
key: is always unique 
    it may be string or int
    key()
value: canbe anything
     value()
items: it gives list of tuple of key: value

In [13]:
d={1:"ram",2:"shyam",3:"dham",4:"raj"}
d

{1: 'ram', 2: 'shyam', 3: 'dham', 4: 'raj'}

In [14]:
type(d)

dict

In [15]:
print(type(d))

<class 'dict'>

In [18]:
d.keys()

dict_keys([1, 2, 3, 4])

In [19]:
d.values()

dict_values(['ram', 'shyam', 'dham', 'raj'])

In [20]:
d.items() #give list of dictionary in the form of tuple

dict_items([(1, 'ram'), (2, 'shyam'), (3, 'dham'), (4, 'raj')])

In [22]:
d.update({3:"suraj"}) #give key value pair
d

{1: 'ram', 2: 'shyam', 3: 'suraj', 4: 'raj'}

In [24]:
d[4]="sai"
d

{1: 'ram', 2: 'shyam', 3: 'suraj', 4: 'sai'}

In [25]:
d.pop(2) #remove key: value pair  of key 2 
d

{1: 'ram', 3: 'suraj', 4: 'sai'}

In [28]:
d.popitem() #Remove last elememt
d

{1: 'ram', 3: 'suraj'}

In [30]:
len(d)

2

In [34]:
v=[0,1,2,3,[8,{5:[67,89,90,{"area":kudlu,"city":"banglore"}]}]]
               v

IndentationError: unexpected indent (619895488.py, line 2)

# Function

Used:
1)reduce the line of code and increase the readiability .
2)reuse the same code more times.
3)used to break the main required into small task .

Types:
1)build in function
2)user defined function
3)lambda function: (used for single line expression)

In [35]:
def add(n1,n2):
    c=n1+n2
    return c

In [39]:
res=add(5,7)
res

12

In [40]:
def sub(n1,n2):
    sub=n1-n2
    return sub

In [45]:
p=sub(15,4)
p

11

In [46]:
def mul(n1,n2):
    mul=(n1*n2)
    return(mul)

In [48]:
q=mul(10,10)
q

100

In [49]:
def div(n1,n2): #for quetiont
    d=(n1/n2)
    return(d)

In [50]:
r=div(40,10)
r

4.0

In [51]:
def rem(n1,n2):  #give remainder
    r=n1%n2
    return(r)

In [52]:
s=rem(40,10)
s

0

In [53]:
def power(m,n):
    p=m**n
    return(p)

In [55]:
t=power(12,2)
t

144

In [56]:
# area of circle
def area(radius):
    a=3.14*(radius**2)
    return a

In [57]:
a1=area(5)
a1

78.5

In [58]:
#area of traingle
def atri(base,height):
    a=base*height
    return a

In [59]:
p=atri(10,2)
p

20

In [62]:
# for find length
def mylen(data):
    count=0
    for i in data:
        count+=1
    return(count)

In [63]:
mylen("datamites")

9

# 10-june-25

In [4]:
def show(n1,n2=7):
    print(n1,n2)

In [5]:
show(3,4)

3 4

In [6]:
show(3) #dafault agrument

3 7

In [8]:
def show1(n1,*n2): # *is used to assine multiple values.
    print(n1,n2)
    print(type(n1))
    print(type(n2))

In [9]:
show1(4,5,6,7,8,9,10)

4 (5, 6, 7, 8, 9, 10)
<class 'int'>
<class 'tuple'>

# Application of ATM

In [1]:
def deposite(mbal,amt):
    mbal+=amt
    return mbal

In [2]:
def withdraw(mbal,amt):
    mbal-=amt
    return mbal

In [3]:
def transfer(mbal,amt):
    mbal-=amt
    return mbal

In [4]:
def balcheck(mbal):
    print("Your Balance is: ",mbal)

In [5]:
def ministate(data):
    print("past transaction details:")
    for i in data:
        print(i)

In [9]:
import datetime
data=[] 
balance=500
pin=int(input("Enter your pin :"))
if(pin==1234):
    while(True):
        print("1.Deposit\n2.withdraw\n3.transfer\n4.balcheck\n5.ministate\n6.Exit")
        ch=int(input("Enter your choise :"))
        if(ch==1):
            amt=int(input("Enter amount: "))
            balance=deposite(balance,amt)
            print(f"Your Account is credited: {amt},your main balance is :{balance}")
            data.append([amt,"credited",datetime.datetime.now()])
        elif(ch==2):
            amt=int(input("Enter amount: "))
            if (balance-amt>=0):
                balance=withdraw(balance,amt)
                print(f"your account is debited : {amt}, your main balance is: {balance}")
                data.append([amt,"debited",datetime.datetime.now()])
            else:
                print("Insufficient amount ")
        elif(ch==3):
            amt=int(input("Enter amount: "))
            if (balance-amt>=0):
                balance=withdraw(balance,amt)
                print(f"your account is debited : {amt}, your main balance is: {balance}")
                data.append([amt,"transfer",datetime.datetime.now()])
            else:
                print("Insufficient amount ")
        elif(ch==4):
            balcheck(balance)
        elif(ch==5):
              ministate(data)
        elif(ch==6):
            break
        else:
            print("Wrong choise")
else:
    print("Enter correct pin ")

Enter your pin :1234
1.Deposit
2.withdraw
3.transfer
4.balcheck
5.ministate
6.Exit
Enter your choise :1
Enter amount: 1000
Your Account is credited: 1000,your main balance is :1500
1.Deposit
2.withdraw
3.transfer
4.balcheck
5.ministate
6.Exit
Enter your choise :2
Enter amount: 500
your account is debited : 500, your main balance is: 1000
1.Deposit
2.withdraw
3.transfer
4.balcheck
5.ministate
6.Exit
Enter your choise :3
Enter amount: 200
your account is debited : 200, your main balance is: 800
1.Deposit
2.withdraw
3.transfer
4.balcheck
5.ministate
6.Exit
Enter your choise :4
Your Balance is:  800
1.Deposit
2.withdraw
3.transfer
4.balcheck
5.ministate
6.Exit
Enter your choise :5
past transaction details:
[1000, 'credited', datetime.datetime(2025, 6, 10, 12, 47, 49, 275500)]
[500, 'debited', datetime.datetime(2025, 6, 10, 12, 47, 56, 668300)]
[200, 'transfer', datetime.datetime(2025, 6, 10, 12, 48, 3, 297611)]
1.Deposit
2.withdraw
3.transfer
4.balcheck
5.ministate
6.Exit
Enter your choise :6

# Lamba function
used-data preprocessing

syntax:
    lambda arguments:expression
    
ex: add=lambda a,b:a+b

In [10]:
add=lambda a,b:a+b
add(5,5)

10

In [31]:
sub=lambda m,n:m-n

In [32]:
sub(10,5)

5

In [33]:
mul=lambda m,n:m*n

In [34]:
mul(6,3)

18

In [35]:
div=lambda p,q:p/q

In [36]:
div(60,5)

12.0

In [37]:
CA=lambda r:3.14*r*r
CA(5)

78.5

In [38]:
AT=lambda b,h:0.5*b*h

In [39]:
AT(3,5)

7.5

In [40]:
AS=lambda s:s*s
AS(5)

25

In [41]:
AR=lambda l,b:l*b
AR(5,4)

20

In [42]:
AP=lambda l,al:l*al
AP(4,6)

24

In [45]:
gret=lambda a,b:a if a>=b else b

In [47]:
gret(5,7)

7

In [48]:
res=lambda a:'even'if a%2==0 else 'odd'

In [49]:
res(5)

'odd'

In [50]:
res(10)

'even'

# 11-June-25

# Filter()
syntax:
filter(function,data)

 collection   (# o/p is collection & give address of collection in O/p)


#collection means continues memory allocation

In [1]:
l=[1,2,3,4,5,6,7,8,9]

In [4]:
filter(lambda x:x%2!=0,l)  #give only address of collection in output

In [5]:
list(filter(lambda x:x%2!=0,l))

[1, 3, 5, 7, 9]

In [9]:
def check(x):
    if x%2!=0:
        return True
    else:
        return False

In [10]:
list(filter(check,l))

[1, 3, 5, 7, 9]

In [12]:
list(filter(lambda x:x%2!=0 and x>5,l))

[7, 9]

# map()  function
syntax:
    map(function,data)
    
    # length remain same of input and o/p

In [16]:
l1=[1,2,3,4,5,6,7,8,9,10]

In [17]:
map(lambda x:x**2,l1)

In [18]:
list(map(lambda x:x**2,l1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Reduce()
give o/p in single value like sum, min

use package:import functools

In [19]:
import functools

In [22]:
functools.reduce(lambda x,y:x+y,l1)

55

"working: first take initial value in x & y like 1 & 2 in list
then add them  and then take that addition into x and take next value in list as y  continue upto end."

In [37]:
l2=[5,2,8,6,3,9,10,1,7,4]
n=len(l2)
n

10

In [38]:
functools.reduce(lambda x,y:x if x>=y else y,l2)

10

In [40]:
functools.reduce(lambda x,y,n=len(l2):(x+y)/n,l1)  #average

1.098765433

In [42]:
import math

In [43]:
import camelcase

ModuleNotFoundError: No module named 'camelcase'

platform for packages:  pypi #usrd for install and upload new packages

In [44]:
pip install camelcase

Collecting camelcaseNote: you may need to restart the kernel to use updated packages.

  Downloading camelcase-0.2.tar.gz (1.3 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: camelcase
  Building wheel for camelcase (setup.py): started
  Building wheel for camelcase (setup.py): finished with status 'done'
  Created wheel for camelcase: filename=camelcase-0.2-py3-none-any.whl size=1779 sha256=e41ae6ca29db1fc62b2871cbc1434431114363c6b79d89d3a7a925c83ddc354c
  Stored in directory: c:\users\dell\appdata\local\pip\cache\wheels\d4\1e\cb\0ea324dd6d5d69394553f35eb9926168f4c55a5e5a494a8e31
Successfully built camelcase
Installing collected packages: camelcase
Successfully installed camelcase-0.2

In [1]:
import camelcase

In [5]:
from camelcase import CamelCase
c = CamelCase()
s = 'this is a sentence that needs CamelCasing!'
print (c.hump(s))

This is a Sentence That Needs CamelCasing!

# Devloping packages

# 13 JUNE 2025

# Error handling /Exception handling

In [1]:
numerator=100
denomenator=0
result=numerator/denomenator


print(result)

ZeroDivisionError: division by zero

In [2]:
even_num=[2,4,6,8]
print(even_num[5])

IndexError: list index out of range

In [9]:
even_num=[2,4,6,8]
print(even_num[3])

8

In [3]:
print(b)

NameError: name 'b' is not defined

In [5]:
d={"a":"ram"}
d["b"]

KeyError: 'b'

In [6]:
def add (a):
    print(a+b)
    
add(3,4)

TypeError: add() takes 1 positional argument but 2 were given

In [10]:
int("A")

ValueError: invalid literal for int() with base 10: 'A'

In [11]:
1+"a"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
l=[]
l.apend(4)

AttributeError: 'list' object has no attribute 'apend'

In [13]:
import sdtew

ModuleNotFoundError: No module named 'sdtew'

# Used to solve Error
syntax:
    
try:
    #code that may cause exception
except:
    #code to run when exception occurs

In [17]:
try:
    numerator=100
    denomenator=0
    result=numerator/denomenator
    print(result)
except:
    print("invalid input")

invalid input

In [21]:
try:
    numerator=100
    denomenator=0
    result=numerator/denomenator
    print(result)
except ZeroDivisionError:
        print("denomenator cannot be zero")
except IndexError:
    print("Index out of bound")

denomenator cannot be zero

In [22]:
try:
    even_num=[2,4,6,8]
    print(even_num[5])
except ZeroDivisionError:
        print("denomenator cannot be zero")
except IndexError:
    print("Index out of bound")
except:
    print("Error")

Index out of bound

In [23]:
try:
    even_num=[2,4,6,8]
    print(even_num["5"])
except ZeroDivisionError:
        print("denomenator cannot be zero")
except IndexError:
    print("Index out of bound")
except:
    print("Error")

Error

In [25]:
try:
    numerator=100
    denomenator=0
    result=numerator/denomenator
    print(result)
except:
        print("Error:denomenator cannot be zero")
finally:
    print("this is finally bock")

Error:denomenator cannot be zero
this is finally bock

In [26]:
try:
    print(b)
except:
    print("B is not known ")

B is not known

In [27]:
try:
    1+"a"
except:
    print("Different datatypes")

Different datatypes

In [29]:
try:
    l=[]
    l.apend(4)
except AttributeError :
    print("method not listed")
except:
    print("error")

method not listed

In [30]:
try:
    import sdtew 
except:
    print("Enter correct module name")
finally:
    print("try again")

Enter correct module name
try again

Homework:
    
1)create file of error 
2)create notebook of  tuple,set, dictionary methods.
3)study 12 inbuild package and 15 function in each packages
4)10 lambda functions.